h1{
    text-align: center;
    font-size: 60px;
    color:aliceblue;
}

.select-container{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


#result{
    text-align: center;
    display: block;
}

#result1{
    margin-top: 60px;
    text-align: left;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

body{
    background-color:rgb(154, 161, 45);
    background-image: url("suisougaku.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #photo{
    display:block;
    margin:auto;
    height: 700px;
    width: 1000px;
} */

/* レスポンシブデザイン用のスタイル */
@media screen and (max-width: 1024px){
    h1 {
        font-size: 40px;
    }
    
    .select-container {
        margin-top: 10px;
    }
    
    #result1 {
        font-size: 30px;
    }

    body{
        background-image: url("tr.jpg")
    }
}

@media screen and (max-width: 450px){
    h1 {
        font-size: 20px;
    }
    
    .select-container {
        margin-top: 50px;
    }
    
    #result1 {
        font-size: 17px;
    }

    body{
        background-image: url("sax.jpg")
    }
}
