h1{
    text-align: center;
    font-size: 60px;
    color:aliceblue;
}

.select-container{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


#result{
    text-align: center;
    display: block;
}

#result1{
    margin-top: 60px;
    text-align: left;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}


/* #photo{
    display:block;
    margin:auto;
    height: 700px;
    width: 1000px;
} */

body{
    background-color:rgb(154, 161, 45);
    background-image: url("suisougaku.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;


}

